.header {
  line-height: 50px;
  padding: 0 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: gray;
}


.breadcrumb-link {
  line-height: 30px;
  padding: 10px;
  text-decoration: none;
}

.breadcrumb-link:before {
  content: "\2190";
  padding-right: 10px;
}

.main-content {
  padding: 0 16px;
}
